%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
		%title chat-space
		= csrf_meta_tags
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		%link{:href => "./font-awesome.css", :rel => "stylesheet"}/

		%body
		= render "layput/flash_messages"
		= yield